{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        table thead th:first-child {
            position: sticky;
            left: 0;
            z-index: 2;
        }

        table tbody th {
            position: sticky;
            left: 0;
            background: white;
            z-index: 1;
        }
    </style>
</head>
<body class="text-xs leading-[20px]  w-[90%] m-auto antialiased">
<div class="flex justify-between">
    {% block header %}
        <img class="mt-2" src="{% static 'images/kd-Logo.png' %}" alt="">
        {% block actions %}
        {% endblock %}
    {% endblock %}
</div>
<div class="mt-2">
    {% block content %}

    {% endblock %}
</div>
<script>
    let modelNames = document.getElementsByClassName('model-name');

    {#    add a hover event listener and set child element with class .edit to display block #}
    for (let i = 0; i < modelNames.length; i++) {
        modelNames[i].children[2].style.display = 'none';
        modelNames[i].addEventListener('mouseover', function () {
            this.childNodes[2].style.display = 'block';
        });
        modelNames[i].addEventListener('mouseout', function () {
            this.childNodes[2].style.display = 'none';
        });
    }
</script>
</body>
</html>
