{% extends 'catalogue/base.html' %}
{% load static %}
{% block title %} Kayak Models {% endblock %}
{% block actions %}
    <a class="h-fit my-auto border-[1px] border-slate-300 px-3 py-2 rounded tracking-wider font-medium text-xs align-middle text-slate-400 hover:text-orange-500 hover:border-orange-500 hover:bg-amber-50 hover:transition-colors duration-200"
       href="{% url 'kayak-create' %}">
        <span class="">NEW KAYAK</span>
    </a>
{% endblock %}
{% block content %}
    <div class="flex justify-end">
        <img class="mb-4" src="{% static 'images/azul-logo.png' %}" alt="">
    </div>
    <table class="w-full mb-10">
        <thead>
        <tr>
            <td class="bg-orange-500 text-white font-semibold py-2 rounded-tl-md border-r border-r-orange-600">Model
                Name
            </td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Material</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Paddling</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Steering</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Length</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Width</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Height</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Weight</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 rounded-tr-md">Capacity</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 bg-white">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for kayak in azul_kayaks %}
            <tr>
                <td class="group model-name w-[300px] py-2 border-r border-r-slate-200">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <span class="text-[10px] font-medium tracking-wider text-zinc-400">{{ kayak.brand | upper }}</span>
                            <div class="flex">
                                <a href="{% url 'kayak-detail' kayak.slug %}"
                                   class="text-[15px] tracking-[-0.01rem] font-medium tracking-wider text-neutral-600 group-hover:text-orange-500 transition-colors duration-500 delay-100">{{ kayak.model_name }}</a>
                                {% if kayak.is_new %}
                                    <svg class="h-4 ml-1" version="1.1" baseProfile="basic" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 256 256"
                                         xml:space="preserve">
<path fill="#F7931E" d="M93.6,18.4l13.1,46.9c3.5,12.6,13.4,22.5,26,26l46.9,13.1l-46.9,13.1c-12.6,3.5-22.5,13.4-26,26l-13.1,46.9
	l-13.1-46.9c-3.5-12.6-13.4-22.5-26-26L7.6,104.5l46.9-13.1c12.6-3.5,22.5-13.4,26-26L93.6,18.4z"></path>
                                        <path fill="#FFEA2E" d="M153.4,158l7,24.9c1.9,6.7,7.1,11.9,13.8,13.8l24.9,7l-24.9,7c-6.7,1.9-11.9,7.1-13.8,13.8l-7,24.9l-7-24.9
	c-1.9-6.7-7.1-11.9-13.8-13.8l-24.9-7l24.9-7c6.7-1.9,11.9-7.1,13.8-13.8L153.4,158z"></path>
                                        <path fill="#FFC22E" d="M186.5,6.6l5.6,19.9c1.5,5.4,5.7,9.5,11,11l19.9,5.6l-19.9,5.6c-5.4,1.5-9.5,5.7-11,11l-5.6,19.9l-5.6-19.9
	c-1.5-5.4-5.7-9.5-11-11l-19.9-5.6l19.9-5.6c5.4-1.5,9.5-5.7,11-11L186.5,6.6z"></path>
</svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="mr-2">
                            <a class="group-hover:opacity-100 transition-opacity
 duration-300 delay-200" href="{% url 'kayak-update' kayak.slug %}">
                                <svg class="h-4 fill-neutral-400 opacity-0 group-hover:opacity-100 hover:fill-orange-500 transition-opacity
 duration-300 delay-500" fill="inherit" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </td>
                <td class="py-2">
                    {{ kayak.material }}
                </td>
                <td class="py-2">
                    {{ kayak.paddling }}
                </td>
                <td class="py-2">
                    {{ kayak.steering }}
                </td>
                <td class="py-2">
                    {{ kayak.length }}
                </td>
                <td class="py-2">
                    {{ kayak.width }}
                </td>
                <td class="py-2">
                    {{ kayak.height }}
                </td>
                <td class="py-2">
                    {{ kayak.weight }}
                </td>
                <td class="py-2">
                    {{ kayak.load_capacity }}
                </td>
                <td>
                    <div class="flex">
                        {% if kayak.web_page %}
                            <a href="{{ kayak.web_page }}">
                                <svg class="h-[14px] mr-3 fill-indigo-700" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="no-attribute">-</span>
                        {% endif %}
                        {% if kayak.youtube %}
                            <a href="{{ kayak.youtube }}">
                                <svg class="h-[18px] fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512">
                                    <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="text-center">-</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-end">
        <img class="mb-4" src="{% static 'images/boreal-logo.png' %}" alt="">
    </div>
    <table class="w-full mb-10">
        <thead>
        <tr>
            <td class="bg-orange-500 text-white font-semibold py-2 rounded-tl-md border-r border-r-orange-600">Model
                Name
            </td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Material</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Paddling</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Steering</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Length</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Width</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Height</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Weight</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 rounded-tr-md">Capacity</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 bg-white">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for kayak in boreal_design %}
            <tr>
                <td class="group model-name w-[300px] py-2 border-r border-r-slate-200">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <span class="text-[10px] font-medium tracking-wider text-zinc-400">{{ kayak.brand | upper }}</span>
                            <div class="flex">
                                <a href="{% url 'kayak-detail' kayak.slug %}"
                                   class="text-[15px] tracking-[-0.01rem] font-medium tracking-wider text-neutral-600 group-hover:text-orange-500 transition-colors duration-500 delay-100">{{ kayak.model_name }}</a>
                                {% if kayak.is_new %}
                                    <svg class="h-4 ml-1" version="1.1" baseProfile="basic" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 256 256"
                                         xml:space="preserve">
<path fill="#F7931E" d="M93.6,18.4l13.1,46.9c3.5,12.6,13.4,22.5,26,26l46.9,13.1l-46.9,13.1c-12.6,3.5-22.5,13.4-26,26l-13.1,46.9
	l-13.1-46.9c-3.5-12.6-13.4-22.5-26-26L7.6,104.5l46.9-13.1c12.6-3.5,22.5-13.4,26-26L93.6,18.4z"></path>
                                        <path fill="#FFEA2E" d="M153.4,158l7,24.9c1.9,6.7,7.1,11.9,13.8,13.8l24.9,7l-24.9,7c-6.7,1.9-11.9,7.1-13.8,13.8l-7,24.9l-7-24.9
	c-1.9-6.7-7.1-11.9-13.8-13.8l-24.9-7l24.9-7c6.7-1.9,11.9-7.1,13.8-13.8L153.4,158z"></path>
                                        <path fill="#FFC22E" d="M186.5,6.6l5.6,19.9c1.5,5.4,5.7,9.5,11,11l19.9,5.6l-19.9,5.6c-5.4,1.5-9.5,5.7-11,11l-5.6,19.9l-5.6-19.9
	c-1.5-5.4-5.7-9.5-11-11l-19.9-5.6l19.9-5.6c5.4-1.5,9.5-5.7,11-11L186.5,6.6z"></path>
</svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="mr-2">
                            <a class="group-hover:opacity-100 transition-opacity
 duration-300 delay-200" href="{% url 'kayak-update' kayak.slug %}">
                                <svg class="h-4 fill-neutral-400 opacity-0 group-hover:opacity-100 hover:fill-orange-500 transition-opacity
 duration-300 delay-500" fill="inherit" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </td>
                <td class="py-2">
                    {{ kayak.material }}
                </td>
                <td class="py-2">
                    {{ kayak.paddling }}
                </td>
                <td class="py-2">
                    {{ kayak.steering }}
                </td>
                <td class="py-2">
                    {{ kayak.length }}
                </td>
                <td class="py-2">
                    {{ kayak.width }}
                </td>
                <td class="py-2">
                    {{ kayak.height }}
                </td>
                <td class="py-2">
                    {{ kayak.weight }}
                </td>
                <td class="py-2">
                    {{ kayak.load_capacity }}
                </td>
                <td>
                    <div class="flex">
                        {% if kayak.web_page %}
                            <a href="{{ kayak.web_page }}">
                                <svg class="h-[14px] mr-3 fill-indigo-700" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="no-attribute">-</span>
                        {% endif %}
                        {% if kayak.youtube %}
                            <a href="{{ kayak.youtube }}">
                                <svg class="h-[18px] fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512">
                                    <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="text-center">-</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-end">
        <img class="mb-4" src="{% static 'images/cobra-logo.png' %}" alt="">
    </div>
    <table class="w-full mb-10">
        <thead>
        <tr>
            <td class="bg-orange-500 text-white font-semibold py-2 rounded-tl-md border-r border-r-orange-600">Model
                Name
            </td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Material</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Paddling</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Steering</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Length</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Width</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Height</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Weight</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 rounded-tr-md">Capacity</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 bg-white">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for kayak in cobra_kayaks %}
            <tr>
                <td class="group model-name w-[300px] py-2 border-r border-r-slate-200">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <span class="text-[10px] font-medium tracking-wider text-zinc-400">{{ kayak.brand | upper }}</span>
                            <div class="flex">
                                <a href="{% url 'kayak-detail' kayak.slug %}"
                                   class="text-[15px] tracking-[-0.01rem] font-medium tracking-wider text-neutral-600 group-hover:text-orange-500 transition-colors duration-500 delay-100">{{ kayak.model_name }}</a>
                                {% if kayak.is_new %}
                                    <svg class="h-4 ml-1" version="1.1" baseProfile="basic" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 256 256"
                                         xml:space="preserve">
<path fill="#F7931E" d="M93.6,18.4l13.1,46.9c3.5,12.6,13.4,22.5,26,26l46.9,13.1l-46.9,13.1c-12.6,3.5-22.5,13.4-26,26l-13.1,46.9
	l-13.1-46.9c-3.5-12.6-13.4-22.5-26-26L7.6,104.5l46.9-13.1c12.6-3.5,22.5-13.4,26-26L93.6,18.4z"></path>
                                        <path fill="#FFEA2E" d="M153.4,158l7,24.9c1.9,6.7,7.1,11.9,13.8,13.8l24.9,7l-24.9,7c-6.7,1.9-11.9,7.1-13.8,13.8l-7,24.9l-7-24.9
	c-1.9-6.7-7.1-11.9-13.8-13.8l-24.9-7l24.9-7c6.7-1.9,11.9-7.1,13.8-13.8L153.4,158z"></path>
                                        <path fill="#FFC22E" d="M186.5,6.6l5.6,19.9c1.5,5.4,5.7,9.5,11,11l19.9,5.6l-19.9,5.6c-5.4,1.5-9.5,5.7-11,11l-5.6,19.9l-5.6-19.9
	c-1.5-5.4-5.7-9.5-11-11l-19.9-5.6l19.9-5.6c5.4-1.5,9.5-5.7,11-11L186.5,6.6z"></path>
</svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="mr-2">
                            <a class="group-hover:opacity-100 transition-opacity
 duration-300 delay-200" href="{% url 'kayak-update' kayak.slug %}">
                                <svg class="h-4 fill-neutral-400 opacity-0 group-hover:opacity-100 hover:fill-orange-500 transition-opacity
 duration-300 delay-500" fill="inherit" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </td>
                <td class="py-2">
                    {{ kayak.material }}
                </td>
                <td class="py-2">
                    {{ kayak.paddling }}
                </td>
                <td class="py-2">
                    {{ kayak.steering }}
                </td>
                <td class="py-2">
                    {{ kayak.length }}
                </td>
                <td class="py-2">
                    {{ kayak.width }}
                </td>
                <td class="py-2">
                    {{ kayak.height }}
                </td>
                <td class="py-2">
                    {{ kayak.weight }}
                </td>
                <td class="py-2">
                    {{ kayak.load_capacity }}
                </td>
                <td>
                    <div class="flex">
                        {% if kayak.web_page %}
                            <a href="{{ kayak.web_page }}">
                                <svg class="h-[14px] mr-3 fill-indigo-700" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="no-attribute">-</span>
                        {% endif %}
                        {% if kayak.youtube %}
                            <a href="{{ kayak.youtube }}">
                                <svg class="h-[18px] fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512">
                                    <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="text-center">-</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-end">
        <img class="mb-4" src="{% static 'images/riot-logo.png' %}" alt="">
    </div>
    <table class="w-full mb-10">
        <thead>
        <tr>
            <td class="bg-orange-500 text-white font-semibold py-2 rounded-tl-md border-r border-r-orange-600">Model
                Name
            </td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Material</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Paddling</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Steering</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Length</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Width</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Height</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Weight</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 rounded-tr-md">Capacity</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 bg-white">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for kayak in riot_kayaks %}
            <tr>
                <td class="group model-name w-[300px] py-2 border-r border-r-slate-200">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <span class="text-[10px] font-medium tracking-wider text-zinc-400">{{ kayak.brand | upper }}</span>
                            <div class="flex">
                                <a href="{% url 'kayak-detail' kayak.slug %}"
                                   class="text-[15px] tracking-[-0.01rem] font-medium tracking-wider text-neutral-600 group-hover:text-orange-500 transition-colors duration-500 delay-100">{{ kayak.model_name }}</a>
                                {% if kayak.is_new %}
                                    <svg class="h-4 ml-1" version="1.1" baseProfile="basic" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 256 256"
                                         xml:space="preserve">
<path fill="#F7931E" d="M93.6,18.4l13.1,46.9c3.5,12.6,13.4,22.5,26,26l46.9,13.1l-46.9,13.1c-12.6,3.5-22.5,13.4-26,26l-13.1,46.9
	l-13.1-46.9c-3.5-12.6-13.4-22.5-26-26L7.6,104.5l46.9-13.1c12.6-3.5,22.5-13.4,26-26L93.6,18.4z"></path>
                                        <path fill="#FFEA2E" d="M153.4,158l7,24.9c1.9,6.7,7.1,11.9,13.8,13.8l24.9,7l-24.9,7c-6.7,1.9-11.9,7.1-13.8,13.8l-7,24.9l-7-24.9
	c-1.9-6.7-7.1-11.9-13.8-13.8l-24.9-7l24.9-7c6.7-1.9,11.9-7.1,13.8-13.8L153.4,158z"></path>
                                        <path fill="#FFC22E" d="M186.5,6.6l5.6,19.9c1.5,5.4,5.7,9.5,11,11l19.9,5.6l-19.9,5.6c-5.4,1.5-9.5,5.7-11,11l-5.6,19.9l-5.6-19.9
	c-1.5-5.4-5.7-9.5-11-11l-19.9-5.6l19.9-5.6c5.4-1.5,9.5-5.7,11-11L186.5,6.6z"></path>
</svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="mr-2">
                            <a class="group-hover:opacity-100 transition-opacity
 duration-300 delay-200" href="{% url 'kayak-update' kayak.slug %}">
                                <svg class="h-4 fill-neutral-400 opacity-0 group-hover:opacity-100 hover:fill-orange-500 transition-opacity
 duration-300 delay-500" fill="inherit" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </td>
                <td class="py-2">
                    {{ kayak.material }}
                </td>
                <td class="py-2">
                    {{ kayak.paddling }}
                </td>
                <td class="py-2">
                    {{ kayak.steering }}
                </td>
                <td class="py-2">
                    {{ kayak.length }}
                </td>
                <td class="py-2">
                    {{ kayak.width }}
                </td>
                <td class="py-2">
                    {{ kayak.height }}
                </td>
                <td class="py-2">
                    {{ kayak.weight }}
                </td>
                <td class="py-2">
                    {{ kayak.load_capacity }}
                </td>
                <td>
                    <div class="flex">
                        {% if kayak.web_page %}
                            <a href="{{ kayak.web_page }}">
                                <svg class="h-[14px] mr-3 fill-indigo-700" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="no-attribute">-</span>
                        {% endif %}
                        {% if kayak.youtube %}
                            <a href="{{ kayak.youtube }}">
                                <svg class="h-[18px] fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512">
                                    <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="text-center">-</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-end">
        <img class="mb-4" src="{% static 'images/riot-sup-logo.png' %}" alt="">
    </div>
    <table class="w-full mb-10">
        <thead>
        <tr>
            <td class="bg-orange-500 text-white font-semibold py-2 rounded-tl-md border-r border-r-orange-600">Model
                Name
            </td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Material</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Paddling</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Steering</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Length</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Width</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Height</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2">Weight</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 rounded-tr-md">Capacity</td>
            <td class="w-auto bg-orange-500 text-white font-semibold py-2 bg-white">&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for kayak in riot_sup %}
            <tr>
                <td class="group model-name w-[300px] py-2 border-r border-r-slate-200">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <span class="text-[10px] font-medium tracking-wider text-zinc-400">{{ kayak.brand | upper }}</span>
                            <div class="flex">
                                <a href="{% url 'kayak-detail' kayak.slug %}"
                                   class="text-[15px] tracking-[-0.01rem] font-medium tracking-wider text-neutral-600 group-hover:text-orange-500 transition-colors duration-500 delay-100">{{ kayak.model_name }}</a>
                                {% if kayak.is_new %}
                                    <svg class="h-4 ml-1" version="1.1" baseProfile="basic" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 256 256"
                                         xml:space="preserve">
<path fill="#F7931E" d="M93.6,18.4l13.1,46.9c3.5,12.6,13.4,22.5,26,26l46.9,13.1l-46.9,13.1c-12.6,3.5-22.5,13.4-26,26l-13.1,46.9
	l-13.1-46.9c-3.5-12.6-13.4-22.5-26-26L7.6,104.5l46.9-13.1c12.6-3.5,22.5-13.4,26-26L93.6,18.4z"></path>
                                        <path fill="#FFEA2E" d="M153.4,158l7,24.9c1.9,6.7,7.1,11.9,13.8,13.8l24.9,7l-24.9,7c-6.7,1.9-11.9,7.1-13.8,13.8l-7,24.9l-7-24.9
	c-1.9-6.7-7.1-11.9-13.8-13.8l-24.9-7l24.9-7c6.7-1.9,11.9-7.1,13.8-13.8L153.4,158z"></path>
                                        <path fill="#FFC22E" d="M186.5,6.6l5.6,19.9c1.5,5.4,5.7,9.5,11,11l19.9,5.6l-19.9,5.6c-5.4,1.5-9.5,5.7-11,11l-5.6,19.9l-5.6-19.9
	c-1.5-5.4-5.7-9.5-11-11l-19.9-5.6l19.9-5.6c5.4-1.5,9.5-5.7,11-11L186.5,6.6z"></path>
</svg>
                                {% endif %}
                            </div>

                        </div>
                        <div class="mr-2">
                            <a class="group-hover:opacity-100 transition-opacity
 duration-300 delay-200" href="{% url 'kayak-update' kayak.slug %}">
                                <svg class="h-4 fill-neutral-400 opacity-0 group-hover:opacity-100 hover:fill-orange-500 transition-opacity
 duration-300 delay-500" fill="inherit" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </td>
                <td class="py-2">
                    {{ kayak.material }}
                </td>
                <td class="py-2">
                    {{ kayak.paddling }}
                </td>
                <td class="py-2">
                    {{ kayak.steering }}
                </td>
                <td class="py-2">
                    {{ kayak.length }}
                </td>
                <td class="py-2">
                    {{ kayak.width }}
                </td>
                <td class="py-2">
                    {{ kayak.height }}
                </td>
                <td class="py-2">
                    {{ kayak.weight }}
                </td>
                <td class="py-2">
                    {{ kayak.load_capacity }}
                </td>
                <td>
                    <div class="flex">
                        {% if kayak.web_page %}
                            <a href="{{ kayak.web_page }}">
                                <svg class="h-[14px] mr-3 fill-indigo-700" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512">
                                    <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="no-attribute">-</span>
                        {% endif %}
                        {% if kayak.youtube %}
                            <a href="{{ kayak.youtube }}">
                                <svg class="h-[18px] fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 576 512">
                                    <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="text-center">-</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}