{% extends 'catalogue/base.html' %}
{% block content %}
    <div class="table">
        <table>
            <thead>
            <tr>
                <td class="w-80">Model</td>
{#                <td>Material</td>#}
{#                <td>Steering</td>#}
{#                <td>Paddling</td>#}
{#                <td>Length</td>#}
{#                <td>Width</td>#}
{#                <td>Height</td>#}
{#                <td>Weight</td>#}
{#                <td>Max Capacity</td>#}
{#                <td>Outer Cockpit</td>#}
{#                <td>Paddler Size</td>#}
{#                <td>Beluga Skirt</td>#}
{#                <td>Impulse Drive</td>#}
                <td>&nbsp;</td>
            </thead>
            <tbody>
            {% for kayak in kayaks %}
                <tr>
                    <td class="font-medium pl-4 w-80">
                        <span class="block text-[0.9em] text-slate-600 tracking-wider">{{ kayak.brand }}</span>
                        <a class="text-[1.2em] hover:text-orange-600 hover:font-medium" href="{% url 'kayak-detail' kayak.slug %}">{{ kayak.model_name }}</a>
                    </td>
{#                    <td>{{ kayak.material }}</td>#}
{#                    <td>{{ kayak.steering }}</td>#}
{#                    <td>{{ kayak.paddling }}</td>#}
{#                    <td>{{ kayak.length }}</td>#}
{#                    <td>{{ kayak.width }}</td>#}
{#                    <td>{{ kayak.height }}</td>#}
{#                    <td>{{ kayak.weight }}</td>#}
{#                    <td>{{ kayak.load_capacity }}</td>#}
{#                    <td>{{ kayak.outer_cockpit_dimensions }}</td>#}
{#                    <td>{{ kayak.ideal_paddler_size }}</td>#}
{#                    <td>{{ kayak.beluga_skirt_size }}</td>#}
{#                    <td>{{ kayak.impulse_drive }}</td>#}
                    <td>
                        <div class="flex">
                            <div>
                                {% if kayak.web_page %}
                                    <a href="{{ kayak.web_page }}" title="{{ kayak.web_page }}" target="_blank" class="icon">
                                        <i class="fa-solid fa-up-right-from-square h-4 text-sky-600 hover:text-sky-700"></i>
                                    </a>
                                {% else %}
                                    <div class="text-right">&ndash;</div>
                                {% endif %}
                            </div>
                            <div>
                                {% if kayak.youtube %}
                                    <a href="{{ kayak.youtube }}" title="{{ kayak.youtube }}" target="_blank" class="icon">
                                        <i class="fa-brands fa-youtube h-[20px] ml-2 text-[#FF0000] hover:text-red-600"></i>
                                    </a>
                                {% else %}
                                    <div class="text-right">&ndash;</div>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}