{% extends 'catalogue/base.html' %}
{% load static %}
{% block title %}
    {{ kayak.brand }} {{ kayak.model_name }}
{% endblock %}
<div class="flex">
    <div>
        <img src="{% static 'images/kd-Logo.png' %}" alt="">
    </div>
</div>
{% block content %}
    <div class="w-[70%] mt-10 mb-20">
        <div class="flex justify-between w-[90%] mb-10">
            <div>
                <span class="text-[1em] font-semibold text-amber-700">{{ kayak.brand | upper }}</span>
                <div class="flex">
                    <div class="flex model-name group">
                        <h1 class="text-4xl font-light mb-2 mr-1">{{ kayak.model_name }}</h1>
                        <a href="{% url 'kayak-update' kayak.slug %}"
                           class="h-fit p-1 edit">
                            <svg class="w-4 h-4 fill-zinc-300 hidden hover:fill-orange-500 group-hover:visible" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                            </svg>
                        </a>
                    </div>
                    {% if kayak.is_new %}
                        <img class="h-6 mr-0.5" src="{% static 'images/sparkle.svg' %}" alt="">
                        <span class="text-xs font-semibold text-zinc-400">NEW</span>
                    {% endif %}
                </div>
                <div class="flex">
                    <span class="tag">{{ kayak.material }}</span>
                    {% if kayak.in_stock %}
                        <span class="tag">In Stock</span>
                    {% endif %}
                </div>
            </div>
            <div class="flex h-fit">
                <a class="border p-2 border-orange-600 text-orange-600 rounded font-medium hover:bg-orange-50"
                   href="{% url 'kayak-list' %}">ALL KAYAKS</a>
            </div>
        </div>
        <div class="flex align-middle ml-4">
            {% if kayak.top_view %}
                <img src="{{ kayak.top_view.url }}" alt="">
            {% endif %}
        </div>
        <div class="text-[1.2em]">
            <div class="flex flex-col mb-4">
                <h2 class="subhead">Description</h2>
                <div class="w-[600px]">{{ kayak.description }}</div>
            </div>
            <div class="flex">
                <div>
                    <h2 class="subhead">Key features</h2>
                    {% if kayak.key_features %}
                        <ul class="list-inside list-disc mb-4 mr-8">
                            {% for feature in features %}
                                <li class="feature">{{ feature }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </div>
            <h2 class="subhead">Options</h2>
            <div class="flex props-grid">
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Paddler Size</div>
                    <div class="item-value">{{ kayak.ideal_paddler_size }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Beluga Skirt</div>
                    <div class="item-value">{{ kayak.beluga_skirt_size }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Impulse Drive</div>
                    <div class="item-value">{{ kayak.impulse_drive }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Steering</div>
                    <div class="item-value">{{ kayak.steering }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Paddling</div>
                    <div class="item-value">{{ kayak.paddling }}</div>
                </div>
            </div>
            <h2 class="subhead">Specifications</h2>
            <div class="flex props-grid min-w-full">
                <div class="item flex flex-col mb-4">
                    <div class="item-label">LENGTH</div>
                    <div class="item-value">{{ kayak.length }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">WIDTH</div>
                    <div class="item-value">{{ kayak.width }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">HEIGHT</div>
                    <div class="item-value">{{ kayak.height }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">WEIGHT</div>
                    <div class="item-value">{{ kayak.weight }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">Load Capacity</div>
                    <div class="item-value">{{ kayak.load_capacity }}</div>
                </div>
                <div class="item flex flex-col mb-4">
                    <div class="item-label">OUTER COCKPIT</div>
                    <div class="item-value">{{ kayak.outer_cockpit_dimensions }}</div>
                </div>
            </div>
            <div class="flex md:w-44 justify-between mt-2">
                {% if kayak.web_page %}
                    <a href="{{ kayak.web_page }}"
                       class="flex hover:fill-indigo-900 text-xs font-medium hover:text-orange-600 sm:w-full"
                       target="_blank">
                        <svg class="fill-indigo-600 hover:fill-sky-900 mr-1" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512" height="16px">
                            <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"/>
                        </svg>
                        <span class="pt-[4px]">Web page</span>
                    </a>
                {% endif %}
                {% if kayak.youtube %}
                    <a href="{{ kayak.youtube }}"
                       class="flex group-hover:fill-red-700 text-xs font-medium hover:text-orange-600 sm:w-full"
                       target="_blank">
                        <svg class="fill-red-500 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                             height="20px">
                            <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                        </svg>
                        <span class="pt-[4px]">Youtube</span>
                    </a>
                {% endif %}
            </div>
        </div>
{% endblock %}